[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]in/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
[Pp]ackages/packages-lock.json
.omx/
.vs/
.vscode/
*.csproj
*.unityproj
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.binlog
*.apk
*.aab
*.keystore
*.app
*.exe
*.dmg
*.zip
*.7z
*.blend1
*.blend2
